---
BasedOnStyle: Google
Language:        Cpp
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ColumnLimit:     80
IncludeCategories: 
  - Regex:           '^<.*>'
    Priority:        1
  - Regex:           '^(<|")boost/'
    Priority:        2
  - Regex:           '^(<|")Eigen/'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
---
