---
BasedOnStyle: Google
Language:        Cpp
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: All
AlignAfterOpenBracket: Align
BinPackArguments: 'false'
BinPackParameters: 'false'
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
ColumnLimit:     80
IncludeCategories: 
  - Regex:           '^<.*>'
    Priority:        1
  - Regex:           '^(<|")boost/'
    Priority:        2
  - Regex:           '^(<|")Eigen/'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
---
