---
Checks: '-*, \
  clang-analyzer-optin.cplusplus.UninitializedObject, \
  cppcoreguidelines-pro-type-member-init, \
  cppcoreguidelines-init-variables, \
  modernize-concat-nested-namespaces, \
  modernize-use-cpp-casts, \
  modernize-use-equals-default, \
  modernize-use-nullptr, \
  modernize-use-override, \
  modernize-use-using, \
  performance-move-const-arg, \
  readability-braces-around-statements, \
  readability-container-size-empty, \
  readability-implicit-bool-cast, \
  readability-implicit-bool-conversion, \
  readability-operators-representation'
HeaderFilterRegex: '.*(?<!nlohmann\/json)\.(hpp|cpp|ipp)$'
AnalyzeTemporaryDtors: true
CheckOptions:
  readability-operators-representation.BinaryOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  readability-operators-representation.OverloadedOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
