build:
  stage: build
  image: ghcr.io/acts-project/ubuntu2004_exatrkx:v21
  tags:
    - docker
  artifacts:
    paths:
      - build/
      - src/Examples/Python
      - src/Examples/Scripts/Python
      - src/Examples/Algorithms/TrackFinding/share
      - src/Examples/Algorithms/Digitization/share
    exclude:
      - build/**/*.o

  script:
    - export PATH=/usr/local/sbin:/usr/sbin:/sbin:$PATH
    - export PATH=/usr/local/nvidia/bin:/usr/local/cuda/bin:$PATH
    - echo $PATH
    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - cd ..
    - mkdir build
    - >
      cmake -B build -S src 
      -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
      -GNinja 
      -DCMAKE_BUILD_TYPE=Release 
      -DCMAKE_CXX_FLAGS=-w 
      -DCMAKE_CUDA_FLAGS=-w 
      -DCMAKE_CUDA_ARCHITECTURES="75;86"
      -DACTS_BUILD_PLUGIN_EXATRKX=ON 
      -DACTS_BUILD_EXAMPLES_EXATRKX=ON 
      -DACTS_BUILD_EXAMPLES_PYTHON_BINDINGS=ON
    - cmake --build build --


test:
  stage: test
  dependencies:
    - build
  image: ghcr.io/acts-project/ubuntu2004_exatrkx:v23
  tags:
    - docker-gpu-nvidia
  script:
    - apt-get update -y
    - apt-get install -y python3 libxxhash0
    - curl https://acts.web.cern.ch/ci/exatrkx/onnx_models_v01.tar --output models.tar
    - tar -xf models.tar
    - source build/python/setup.sh
    - nvidia-smi
    - python3 src/Examples/Scripts/Python/exatrkx.py
