variables:
  CCACHE_DIR: ${CI_PROJECT_DIR}/ccache
  CCACHE_MAXSIZE: 2G
  CCACHE_KEY_SUFFIX: r2
  CTEST_OUTPUT_ON_FAILURE: 1

  SPACK_VERSION: v1.0.2
  SPACK_REPO_VERSION: v2025.07.0

  LOCKFILE_CACHE_DIR: ${CI_PROJECT_DIR}/spack_lockfile_cache

  DEPENDENCY_TAG: v19.0.0

  MODEL_STORAGE: ${CI_PROJECT_DIR}/ci_models

.ccache_base:
  cache:
    - key: ccache-${CI_JOB_NAME}-${CCACHE_KEY_SUFFIX}-${REPO_SLUG}_${HEAD_REF}
      fallback_keys:
        - ccache-${CI_JOB_NAME}-${CCACHE_KEY_SUFFIX}-https://github.com/acts-project/acts.git-main
      when: always
      paths:
        - ${CCACHE_DIR}

.spack_cache:
  cache:
   - key:
       files:
         - CI/dependencies/setup_spack.sh
       prefix: spack_${SPACK_VERSION}_${SPACK_REPO_VERSION}
     paths:
      - spack
      - .spack
   - key:
       files:
        - spack_lockfile_cache/digest.txt
       prefix: spack_lockfile_
     paths:
      - spack_lockfile_cache

.spack_cleanup:
  after_script:
    - rm -rf spack/.git spack/opt spack/var/spack/cache
    - find spack -type f -name "*.pyc" -delete || true

build_gnn_cpu:
  stage: build
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404_gnn:83
  tags:
    - large

  cache:
   - !reference [.ccache_base, cache]
   - !reference [.spack_cache, cache]

  script:
    - export PATH=/usr/local/sbin:/usr/sbin:/sbin:$PATH
    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - |
      CI/dependencies/setup.sh -c g++ -e .env
      source .env

    - cd ..
    - mkdir build
    # Here we only do a minimal build without examples to save resources
    - >
      cmake -B build -S src
      --preset=gitlab-ci-gnn
      -DACTS_GNN_ENABLE_CUDA=OFF
      -DACTS_GNN_ENABLE_MODULEMAP=OFF

    - ccache -z
    - cmake --build build -- -j8
    - ccache -s

  after_script:
   - !reference [.spack_cleanup, after_script]

build_gnn:
  stage: build
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404_gnn:83
  tags:
    - large

  cache:
   - !reference [.ccache_base, cache]
   - !reference [.spack_cache, cache]

  artifacts:
    paths:
      - boost-install/
      - build/
    exclude:
      - build/**/*.o
      - build/bin/ActsIntegrationTest*
    expire_in: 6 hours

  script:
    - export PATH=/usr/local/sbin:/usr/sbin:/sbin:$PATH
    - export PATH=/usr/local/nvidia/bin:/usr/local/cuda/bin:$PATH
    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - |
      CI/dependencies/setup.sh -c g++ -e .env
      source .env
    - cd ..
    - mkdir build
    - >
      cmake -B build -S src
      --preset=gitlab-ci-gnn

    - ccache -z
    - cmake --build build -- -j8
    - ccache -s

  after_script:
   - !reference [.spack_cleanup, after_script]

test_gnn_unittests:
  stage: test
  needs:
    - build_gnn
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404_gnn:83
  tags:
    - docker-gpu-nvidia

  cache:
   - !reference [.spack_cache, cache]
  script:

    - apt-get update -y
    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - |
      CI/dependencies/setup.sh -c g++ -e .env
      source .env
    - cd ..
    - ctest --test-dir build -R "(Gnn|ConnectedComponentsCuda|JunctionRemoval|Tensor)"

  after_script:
   - !reference [.spack_cleanup, after_script]

test_gnn_python:
  stage: test
  needs:
    - build_gnn
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404_gnn:83
  tags:
    - docker-gpu-nvidia

  cache:
   - !reference [.spack_cache, cache]

  script:
    - apt-get update -y
    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - nvidia-smi
    - |
      CI/dependencies/setup.sh -c g++ -e .env
      source .env
    - CI/dependencies/download_models.sh
    - ls ${MODEL_STORAGE}
    - apt-get install tree
    - tree ${MODEL_STORAGE}
    - source ../build/this_acts_withdeps.sh
    - python3 -m pip install -r Python/Examples/tests/requirements.txt
    # There is not yet a proper test for the ModuleMap, but we can at least ensure that it is present and can be imported
    - python3 -c "from acts.examples.gnn import ModuleMapCuda"
    - pytest -rfExw -k torch -v --collect-only
    - pytest -rFExw -k gpu -v # For now only test torch GPU pipeline

  after_script:
   - !reference [.spack_cleanup, after_script]

build_gnn_tensorrt:
  stage: build
  image: ghcr.io/acts-project/ubuntu2404_tensorrt:83

  cache:
    - !reference [.spack_cache, cache]
    - !reference [.ccache_base, cache]

  script:
    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - |
      CI/dependencies/setup.sh -c g++ -e .env
      source .env
    - cd ..
    - mkdir build
    - >
      cmake -B build -S src --preset gitlab-ci-tensorrt
    - ccache -z
    - cmake --build build -- -j8
    - ccache -s

  after_script:
   - !reference [.spack_cleanup, after_script]

build_linux_ubuntu:
  stage: build
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404:83

  cache:
   - !reference [.ccache_base, cache]
   - !reference [.spack_cache, cache]

  artifacts:
    paths:
      - build/
    exclude:
      - build/bin/ActsUnitTest*
      - build/bin/ActsIntegrationTest*
      - build/**/*.o
    expire_in: 1 day

  script:
    - git clone $CLONE_URL src

    - cd src
    - git checkout $HEAD_SHA

    - cd ..

    - |
      src/CI/dependencies/setup.sh -c g++ -e .env
      source .env

    - mkdir build
    - >
      cmake -B build -S src
      --preset=gitlab-ci
      -DACTS_BUILD_PLUGIN_ONNX=ON

    - ccache -z
    - cmake --build build -- -j8
    - ccache -s

    - ctest --test-dir build -j$(nproc)
    - cmake --build build --target integrationtests

    # Install main project
    - cmake --install build

    # Downstream configure
    - >
      cmake -B build-downstream -S src/Tests/DownstreamProject
      -GNinja
      -DCMAKE_BUILD_TYPE=Release
      -DCMAKE_CXX_FLAGS=-Werror
      -DCMAKE_PREFIX_PATH="${INSTALL_DIR}"

    # Downstream build
    - cmake --build build-downstream

    # Downstream run
    - ./build-downstream/bin/ShowActsVersion

  after_script:
   - !reference [.spack_cleanup, after_script]

linux_test_examples:
  stage: test
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404:83
  needs: [build_linux_ubuntu]

  cache:
   - !reference [.spack_cache, cache]

  script:
    - apt-get update && apt-get install -y git-lfs

    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - |
      CI/dependencies/setup.sh -c g++ -e .env -f
      source .env
    - cd ..

    - source build/this_acts_withdeps.sh
    - cd src
    - pytest -rfExw -k "not gnn" -v

  after_script:
   - !reference [.spack_cleanup, after_script]

linux_physmon:
  stage: test
  needs: [build_linux_ubuntu]
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404:83

  artifacts:
    when: always
    paths:
      - src/physmon
    expire_in: 1 week

  cache:
   - !reference [.spack_cache, cache]

  script:
    - apt-get update && apt-get install -y git-lfs time

    - git clone $CLONE_URL src
    - cd src
    - git checkout $HEAD_SHA
    - |
      CI/dependencies/setup.sh -c g++ -e .env -f
      source .env
    - cd ..

    - git config --global safe.directory "$GITHUB_WORKSPACE"
    - source build/this_acts_withdeps.sh
    - cd src
    - CI/physmon/phys_perf_mon.sh all physmon

  after_script:
   - !reference [.spack_cleanup, after_script]

###############################
### UBUNTU EXTRA JOB MATRIX ###
###############################

.linux_ubuntu_extra:
  variables:
    INSTALL_DIR: ${CI_PROJECT_DIR}/install

  stage: build

  cache:
   - !reference [.ccache_base, cache]
   - !reference [.spack_cache, cache]

  script:
    - git clone $CLONE_URL src

    - cd src
    - git checkout $HEAD_SHA
    - |
      CI/dependencies/setup.sh -c ${CXX} -e .env
      source .env

    - cd ..
    - mkdir build
    - >
      cmake -B build -S src
      --preset=gitlab-ci
      -DCMAKE_CXX_STANDARD=${CXXSTD}
      -DCMAKE_CXX_COMPILER=${CXX}

    - ccache -z
    - cmake --build build -- -j8
    - ccache -s

    - ctest --test-dir build -j$(nproc)
    - cmake --build build --target integrationtests

    # Install main project
    - cmake --install build > install.log

    # Downstream configure
    - >
      cmake -B build-downstream -S src/Tests/DownstreamProject
      -GNinja
      -DCMAKE_BUILD_TYPE=Release
      -DCMAKE_CXX_FLAGS=-Werror
      -DCMAKE_CXX_STANDARD=${CXXSTD}
      -DCMAKE_CXX_COMPILER=${CXX}
      -DCMAKE_PREFIX_PATH="${INSTALL_DIR}"

    # Downstream build
    - cmake --build build-downstream

    # Downstream run
    - ./build-downstream/bin/ShowActsVersion

  after_script:
   - !reference [.spack_cleanup, after_script]

linux_ubuntu_2404_clang19:
  extends: .linux_ubuntu_extra
  variables:
    CXX: clang++-19
    CXXSTD: 20
  image: registry.cern.ch/ghcr.io/acts-project/ubuntu2404_clang19:83


######################
### LCG JOB MATRIX ###
######################

.lcg_base_job:
  image: registry.cern.ch/ghcr.io/acts-project/${OS}-base:83
  stage: build
  tags:
    - cvmfs

  variables:
    ACTS_LOG_FAILURE_THRESHOLD: WARNING
    # disable fpe monitoring as we can't mask without backtrace support
    ACTS_SEQUENCER_DISABLE_FPEMON: true
    INSTALL_DIR: ${CI_PROJECT_DIR}/install
    # force off even if it is CI mode
    ROOT_HASH_CHECKS: off


    SETUP:

  cache:
    - !reference [.ccache_base, cache]

  before_script:
    - 'echo "LCG_VERSION: ${LCG_VERSION}"'
    - 'echo "COMPILER: ${COMPILER}"'

    # Figure out LCG platform name based on version number and OS
    - >
      if [ "$OS" = "alma9"  ]; then
        export LCG_PLATFORM="el9"
      else
        export LCG_PLATFORM="$OS"
      fi

    - dnf install -y git-lfs
    - git clone $CLONE_URL src

    - cd src
    - git checkout $HEAD_SHA
    - cd ..

    - 'echo "LCG_PLATFORM: ${LCG_PLATFORM}"'
    - source /cvmfs/sft.cern.ch/lcg/views/LCG_${LCG_VERSION}/x86_64-${LCG_PLATFORM}-${COMPILER}-opt/setup.sh

  script:
    - >
      cmake -B build -S src
      --preset=gitlab-ci-lcg
      -DCMAKE_INSTALL_PREFIX="${INSTALL_DIR}"

    - ccache -z
    - cmake --build build -- -j8
    - ccache -s

    - ctest --test-dir build -j$(nproc)

    # Install main project for Python tests
    - cmake --install build > install.log

    # Install Python dependencies
    - source build/this_acts_withdeps.sh
    - python3 -m pip install -r src//Python/Examples/tests/requirements.txt
    - cd src
    - pytest -rfExw -k "not gnn" -v -n1

lcg_106a:
  extends: .lcg_base_job

  variables:
    LCG_VERSION: "106a"

  parallel:
    matrix:
      - OS: [alma9]
        COMPILER:
          - clang16

lcg_107:
  extends: .lcg_base_job

  variables:
    LCG_VERSION: "107"

  parallel:
    matrix:
      - OS: [alma9]
        COMPILER:
          - gcc13

lcg_107a:
  extends: .lcg_base_job

  variables:
    LCG_VERSION: "107a"

  parallel:
    matrix:
      - OS: [alma9]
        COMPILER:
          - gcc14

lcg_108:
  extends: .lcg_base_job

  variables:
    LCG_VERSION: "108"

  parallel:
    matrix:
      - OS: [alma9]
        COMPILER:
          - gcc15
          - clang19
