[project]
name = "codegen"
version = "0.2.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
  "numpy",
  "sympy"
]

[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"
