name: Check PR labels

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main

jobs:
  check_pr_labels:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v6
      - uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          sync-labels: true
          dot: true
