# SPDX-PackageName: "ACTS"
# SPDX-FileCopyrightText: 2016 CERN
# SPDX-License-Identifier: MPL-2.0

name: Release

on:
  push:
    branches:
      - 'releases'
      - 'release/**'

jobs:
  release:
    name: Make release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install git-cliff
        run: |
          curl -L https://github.com/orhun/git-cliff/releases/download/v2.3.0/git-cliff-2.3.0-x86_64-unknown-linux-musl.tar.gz > git-cliff.tar.gz
          echo "3adde9625195825db9a59dd954fc90604172ba4b  git-cliff.tar.gz" | shasum -c
          mkdir git-cliff
          tar xzf git-cliff.tar.gz --strip-components 1 --directory git-cliff
          cp git-cliff/git-cliff /usr/local/bin/git-cliff

      - name: Create release
        env:
          # for gh cli
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # for git-cliff
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          CI/release.sh
