name: Release

on:
  push:
    branches:
      - 'releases'
      - 'release/**'

jobs:
  release:
    name: Make release
    runs-on: ubuntu-slim
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install git-cliff
        run: |
          curl -L https://github.com/orhun/git-cliff/releases/download/v2.10.0/git-cliff-2.10.0-x86_64-unknown-linux-musl.tar.gz > git-cliff.tar.gz
          echo "1fa2b3409add2e8f576d5a9520ae4e513edf1b8dafb477f65fa65f0a51d2efeb476cb1c86b58f277d5705a9cfc0392dee93f80a253806675379a785410f04038  git-cliff.tar.gz" | sha512sum -c
          mkdir git-cliff
          tar xzf git-cliff.tar.gz --strip-components 1 --directory git-cliff
          cp git-cliff/git-cliff /usr/local/bin/git-cliff

      - name: Create release
        env:
          # for gh cli
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # for git-cliff
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN}}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          CI/release.sh
