name: Release

on: 
  push:
    branches:
      - 'releases'
      - 'release/**'

jobs:
  release:
    name: Make release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - run: pip install -r CI/release_requirements.txt

      - name: Create release
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          CI/release.py make-release
