name: Issue management - run stale action

on:
  schedule:
    # hourly at minute 23
    - cron: "23 * * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-stale: 30
          days-before-close: -1
          stale-issue-message: >
            This issue/PR has been automatically marked as stale because it has not had
            recent activity. The stale label will be removed if any interaction occurs.
